
* {
    box-sizing: border-box;
}

/* Add styles to the form container */

.container {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    padding: 25px;
    background-color: rgb(232, 236, 239);
}

/* Full-width input fields */

input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}